<!-- 목록 출력 영역 -->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/">All</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/posts/announcement">Announcement</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/posts/project">Project</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/posts/study">Study</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/posts/review">Review</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/party">Party</a>
    </li>
</ul>