<!-- 페이지네이션 -->
<nav aria-label="Page navigation">
    <ul class="pagination">
        <!-- 이전 버튼 -->
        {{#hasPrevPage}}
            <li class="page-item">
                <a class="page-link" href="?page={{prevPage}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {{/hasPrevPage}}

        <!-- 추후에 숫자 추가 해 주자 -->
        {{#pages}}
            <li class="page-item {{#isCurrent}}active{{/isCurrent}}">
                {{#isCurrent}}
                    <span class="page-link">{{number}}</span> <!-- 현재 페이지 강조 -->
                {{/isCurrent}}
                {{^isCurrent}}
                    <a class="page-link" href="?page={{number}}">{{number}}</a> <!-- 다른 페이지 링크 -->
                {{/isCurrent}}
            </li>
        {{/pages}}


            <!-- 다음 버튼 -->
        {{#hasNextPage}}
            <li class="page-item">
                <a class="page-link" href="?page={{nextPage}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {{/hasNextPage}}
    </ul>
</nav>