<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello html</title>
</head>
<body>

<h1>FreeCruiting</h1>
<div class = "col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/post/save" role="button" class="btn btn-primary">New Post</a>
            {{#userName}}
                Logged in as: <span id="user">{{userName}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                <a href="/user/update" class="btn btn-info active" role="button">User Update</a>
            {{/userName}}
            {{^userName}}
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
            {{/userName}}
        </div>
    </div>

    {{>layout/search}}
    <!--
    <div class = "row">
        <div class = "col-md-6">
            <a href="/post/save" role="button" class="btn btn-primary">New Post</a>
        </div>
    </div>
    -->
    <br>
    <!-- 목록 출력 영역 -->
    <h2>전체 글 보기</h2>
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>id</th>
            <th>title</th>
            <th>author</th>
            <th>updateDate</th>
            <th>type</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/post/read/{{id}}">{{title}}</a></td>
                <td>{{author}}</td>
                <td>{{modifiedDate}}</td>
                <td>{{type}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>
</div>

{{>layout/footer}}