<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Freecruiting</title>
</head>
<body>

<h1>FreeCruiting</h1>
<div class = "col-md-12">

    {{>layout/userinfo}}
    <br>
    {{>layout/search}}
    <br>
    <a href="/post/save" role="button" class="btn btn-primary">New Post</a>

    {{>layout/navigate}}

    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>id</th>
            <th>title</th>
            <th>author</th>
            <th>type</th>
            <th>views</th>
            <th>comments</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/post/read/{{id}}">{{title}}</a></td>
                <td>{{author}}</td>
                <td>{{type}}</td>
                <td>{{views}}</td>
                <td>{{comments}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        {{>layout/pages}}
    </div>
</div>


{{>layout/footer}}