<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello html</title>
</head>
<body>

<h1>FreeCruiting</h1>
<div class = "col-md-12">
    {{>layout/userinfo}}
    <br>

    <a href="/party/save" role="button" class="btn btn-primary">New Party</a>
    {{>layout/navigate}}
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>description</th>
            <th>cur_number</th>
            <th>max_number</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#partys}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/party/read/{{id}}">{{name}}</a></td>
                <td>{{description}}</td>
                <td>{{cur_number}}</td>
                <td>{{max_number}}</td>
            </tr>
        {{/partys}}
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        {{>layout/pages}}
    </div>
</div>


{{>layout/footer}}