<!DOCTYPE HTML>
<html>
<head>
    <title>FreeCruiting</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>
<body>

<h1>Read Party</h1>
<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <input type="hidden" class="form-control" id="party_id" value="{{party.id}}" readonly>

            <div class="form-group">
                <label for="title">Name</label>
                <input type="text" class="form-control" id="party_name" value="{{party.name}}" readonly>
            </div>
            <div class="form-group">
                <label for="content"> Description </label>
                <textarea class="form-control" id="party_description" readonly>{{party.description}}</textarea>
            </div>
            <div class="form-group">
                <label for="type"> Max Number </label>
                <input type="number" id="party_max_number" name="max_number" value={{party.max_number}} min="5" max="15" step="1" readonly>
            </div>
        </form>
        <a href="/party" role="button" class="btn btn-secondary">Cancel</a>
        <a href="/party/update/{{party.id}}" role="button" class="btn btn-secondary">Update</a>
    </div>

    <!-- Party Members 부분 -->
    <div class="mt-4">
        <h5>Party Members</h5>
        <ul class="list-group mt-3">
            {{#partyMembers}}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{user_name}}
                    {{#party_role}}
                        {{party_role}}
                    {{/party_role}}
                </li>
            {{/partyMembers}}
            {{^partyMembers}}
                <li class="list-group-item text-muted">No party member</li>
            {{/partyMembers}}
        </ul>
        <button type="button" class="btn btn-primary" onclick="savePartyMember({{party.id}})">Join</button>
    </div>
</div>


{{>layout/footer}}