<!DOCTYPE HTML>
<html>
<head>
    <title>FreeCruiting</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>
<body>

<h1>New Post</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" placeholder="Enter title" required>
            </div>
            <div class="form-group">
                <label for="author"> Author </label>
                <input type="text" class="form-control" id="author" placeholder="Enter Author" value="{{userName}}" readonly>
            </div>
            <div class="form-group">
                <label for="content"> Content </label>
                <textarea class="form-control" id="content" placeholder="Enter Content"></textarea>
            </div>
            <div class="form-group">
                <label for="type"> Type </label>
                <select class="form-control" id="type">
                    <option value="project">Project</option>
                    <option value="study">Study</option>
                    <option value="review">Review</option>
                </select>
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">Cancel</a>
        <button type="button" class="btn btn-primary" id="btn-save">Register</button>
    </div>
</div>

{{>layout/footer}}