<!DOCTYPE HTML>
<html>
<head>
    <title>FreeCruiting</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>
<body>

<h1>Update Post</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="title">Post id</label>
                <input type="text" class="form-control" id="id" value="{{post.id}}" readonly>
            </div>
            <div class="form-group">
                <label for="title">Post title</label>
                <input type="text" class="form-control" id="title" value="{{post.title}}">
            </div>
            <div class="form-group">
                <label for="author">Author </label>
                <input type="text" class="form-control" id="author" value="{{post.author}}" readonly>
            </div>
            <div class="form-group">
                <label for="content"> Content </label>
                <textarea class="form-control" id="content">{{post.content}}</textarea>
            </div>
            <div class="form-group">
                <label for="type"> Type </label>
                <select class="form-control" id="type">
                    <option value="PROJECT">Project</option>
                    <option value="STUDY">Study</option>
                    <option value="REVIEW">Review</option>
                </select>
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">Cancel</a>
        <button type="button" class="btn btn-primary" id="btn-update">Update Complete</button>
        <button type="button" class="btn btn-danger" id="btn-delete">Delete</button>
    </div>
</div>

{{>layout/footer}}