<!DOCTYPE HTML>
<html>
<head>
    <title>FreeCruiting</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>
<body>

<h1>Update User</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="title">Name</label>
                <input type="text" class="form-control" id="name" value="{{userName}}">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" value="{{userEmail}}" readonly>
            </div>
            <div class="form-group">
                <label for="picture">Picture</label>
                <img src="{{userPicture}}" width="300" height="200" id="currentPicture" class="img-thumbnail d-block mb-2">
                <input type="file" class="form-control-file" id="newPictureFile" accept="image/*">
                <small class="form-text text-muted">새로운 이미지를 선택하세요. (JPG, PNG, GIF 등)</small>
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">Cancel</a>
        <button type="button" class="btn btn-primary" id="btn-update-user">Update Complete</button>
    </div>
</div>

{{>layout/footer}}